@font-face {
  font-family: "Ganora";
  src: local("Ganora"), url(./assets/fonts/Ganora.otf) format("opentype");
}

body {
  background-color: #181818;
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
